*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.801);
  
}

h1{
    color:rgb(255, 255, 255);
    font-size: 90px;
}

h2{
    color: azure;
}
h3{
    color: azure
}

h4{
    color: azure;
}
.comment-date{
    color: azure;
}

.view {
    background: url("./padoca.webp");
    background-size: cover;
    width: auto;
}
html,
body,
header,
.view {
  height: 100%;
}

main#cardapio{
   background-color: rgba(0, 0, 0, 0.801);
   
}

main#cardapio h2{
    color: azure;
}

main#cardapio h4{
    color: black;
}

main#contato h3{
    color: rgb(0, 0, 0);  
}